combined_FARS.csv
combined_FARS_categorized.csv

NEMSIS/2021 ASCII.zip
NEMSIS/2021 ASCII/*


.DS_Store

SDS/Data/**
SDS/Output/**
Hospital_Data/
Justice40/

Shapefiles/*
__pycache__
AWS/config/__pycache__