body,
html,
#llmap {
  /* height: 600px;
   width: 1200px */
   height: 100%;
    width: 100%
}

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap");

*,
:after,
:before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}


body {
  position: relative;
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji"; */
  background-color: #f1f1f1;
}

.marker-position {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 999;
  padding: 10px;
  font-weight: 700;
  background-color: #fff;
}

.btn-markers {
  display: block;
  padding: 3px 5px;
  border: 1px solid red;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 110px;
  cursor: pointer;
}

.popup{
  position: absolute;
  z-index: 999;
  background-color: cornflowerblue;
  width: 450px;
  padding: 30px 40px;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  border-radius: 8px;
}

.popup button{
  display: block;
  margin: 0 0 20px auto;
  background-color: transparent;
  font-size: 30px;
  color: #c5c5c5;
  border: none;
  outline: none;
  cursor: pointer;
}

.tab{
  position: absolute;
  z-index: 999;
  background-color: lightgoldenrodyellow;
  width: 27%;
  height: 97%;
  padding: 30px 20px;
  transform: translate(10%, 0%);
  /* left: 27%; */
  /* top: 50%; */
  border-radius: 8px;
  overflow: scroll;
}
.tab-filter-container {
  padding: 0px;
  text-align: center;
  background: hsl(205.71, 30.43%, 95.49%);
}
.filter-btn {
  display: inline-flex;
  padding: 0.8rem 6.0rem;
  cursor: pointer;
  /* border-radius: 2rem; */
  align-items: center;
  gap: 0.5rem;
  font-weight: 500;
}
.filter-btn.active {
  background: chocolate;
  color: white;
}
.tab-filter-item-container {
  background: var(--white);
  margin: 0 0;
  padding-right: 1rem;
  position: absolute;
  overflow: hidden;
}
.tab-item {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 0rem 1rem;
  /* transform: translateY(100%); */
  /* background: var(--white-light); */
  /* transition: transform 0.5s ease-in-out; */
  display: none;
  /* grid-template-columns: repeat(auto-fit, minmax(29rem, 1fr)); */
  place-items: normal start;
}

.tab-heading {
  padding: 2rem 0;
  font-size: 2.5rem;
}

.tab-heading2 {
  padding: 2rem 0;
  font-size: 1.5rem;
}

.tab-item.select_tab {
  transform: translateY(0);
  /* transition: transform 0.5s ease-in-out; */
  background: var(--white-light);
  display: grid;
  /* animation: feadIn 0.6s ease-in-out; */
}
.btn-primary {
  margin-top: 1.5rem;
  display: inline-block;
  background: var(--primary);
  padding: 0.6rem 2rem;
  border-radius: 2rem;
  color: var(--white);
}
.tab p{
  font-size: 13px;
  margin: 0 0;
}

.button {
  margin-top: 1.5rem;
  display: inline-block;
  background: var(--);
  padding: 0.6rem 2rem;
  border-radius: 2rem;
  color: var(--white);
}

.state-click {
  display: none;
  margin: 1rem 0rem;
  padding: 0.4rem 2rem;
  background: lightgray;
  font-size: 13px;

}

.region-click {
  display: none;
  margin: 1rem 0rem;
  padding: 0.4rem 2rem;
  background: lightgray;
  font-size: 13px;

}

.back-button {
  display: none;
  margin: 1rem 0;
  background: lightgray;
  border-radius: 2rem;
  padding: 0.3rem 2rem;
  font-size: 13px; 
  
}

/* .back-button2 {
  display: none;
  margin: 1rem 0;
  background: lightgray;
  border-radius: 2rem;
  padding: 0.3rem 2rem;
  font-size: 15px; 
  
} */

.after-state {
  display: none;
}

.after-region {
  display: none;
}


.button-group button{
  display: none;
  background: lightgray;
  border-radius: 2rem;
  padding: 0.3rem 2rem;
  font-size: 13px;
}

/* .btn-confirm {
  margin-right: 1rem;
  margin-left: auto;
  background: lightgray;
  border-radius: 2rem;
  padding: 0.3rem 2rem;
  font-size: 15px;
} */

.stats{
  padding: 0.2rem 0.3rem;
}

/* ------------------------------------------------------ */
/* Slider */

.slidecontainer {
  width: 80%; /* Width of the outside container */
}

.slider {
  width: 100%;
  height: 15px;
  border-radius: 5px;  
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: #04AA6D;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}

/*------------------------------------------------------------------*/
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 55px;
  height: 26px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The toggle */
.toggle {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .3s;
  transition: .3s;
}

.toggle:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 4px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .toggle {
  background-color: #2196F3;
}

input:focus + .toggle {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .toggle:before {
  -webkit-transform: translateX(21px);
  -ms-transform: translateX(21px);
  transform: translateX(21px);
}

/* Rounded sliders */
.toggle.round {
  border-radius: 34px;
}

.toggle.round:before {
  border-radius: 50%;
}

/* -----------------------------------------------*/
/* Radio Box Style*/

label {
  display: flex;
  align-items: center;
  margin: 15px 20px;
  cursor: pointer;
  font-size: 13px;
  
}

/* input[type="radio"] {
  opacity: 0;
} */


/* -----------------------------------------------*/

.link-button label {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 110%;
}

.leaflet-touch .link-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 34px;
  background: #fff;
  margin-bottom: 5px;
  padding: 5px;
}

.link-button:hover {
  background-color: #f4f4f4;
  fill: #a200ff;
}

.link-button:hover:after {
  position: absolute;
  display: flex;
  justify-content: end;
  content: attr(title);
  right: 40px;
  width: auto;
  white-space: nowrap;
  background: #fff;
  padding: 5px;
}

.geojson {
  display: none;
}

input[type="file"] {
  font-size: 0;
}
::file-selector-button {
  font-size: initial;
}

.icon-geojson {
  width: 25px;
  height: 25px;
}


