<html>
<head>
  <script src="{{url_for('static', filename='jquery-2.2.2.min.js')}}"></script>
  <script src="{{url_for('static', filename='leaflet/leaflet.js')}}"></script>
  <link rel="stylesheet" href="{{url_for('static', filename='leaflet/leaflet.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='demo.css')}}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/heatmap.js/2.0.2/heatmap.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/leaflet-heatmap@1.0.0/leaflet-heatmap.min.js"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.0/leaflet.draw.css" />
  <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css' rel='stylesheet' />

  <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.0/leaflet.draw.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/notiflix@3.2.2/dist/notiflix-notify-aio-3.2.2.min.js"></script>
  <script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js'></script>
  <script src="http://d3js.org/d3.v3.min.js"></script>

  <title>NHAT (National HIN Aanalysis Tool)</title>
  <base href=".">
</head>

<body>
  <!-- Right side tab -->
  <div class = "tab">
    <div class="tab-filter-container">
      <li class="filter-btn active" data-tab="home">
        <ion-icon name="home-outline"></ion-icon>
        Home
      </li>
      <li class="filter-btn" data-tab="hin">
        <ion-icon name="options-outline"></ion-icon>
        HIN
      </li>
    </div>
    <div class="tab-filter-item-container">
      <!-- Home Tab -->
      <div class="tab-item intro select_tab">
        <h2 class="tab-heading"> National High Injury Network Analysis Tool</h2>
        <p>
          National High Injury Network Analysis Tool (NHAT) is a free and open
          source resource that allows the users to generate the map of high-risk roads.
          You can create High Injury Network for any counties or MPO region across
          the US.
        </p>
        <a href="#!" class="btn-primary">Read More</a>
        <h2 class="tab-heading"> How To Navigate</h2>
        <p>
          Start by clicking the state you want to navigate to!
        </p>

        <!-- Appears when state is clicked-->
        <div class= "state-click" id="state"></div>
        <div class = "after-state" id="afterstate"> </div>
        <button class= "back-button" id = "back"> Back</button>

        <!-- Appears when county/mpo region is clicked-->
        <div class="region-click" id = "region"></div>
        <div class="after-region" id = "afterregion"></div>
        <div class="button-group">
          <button class= "back-button2" id = "back2"> Back</button>
          <button class= "btn-confirm" id = "btnconfirm"> Confirm </button>
        </div>
      </div>

      <!-- HIN Tab -->
      <div class="tab-item hin">
        <h3 class="tab-heading">Generate High Injury Network</h1>

        <!-- Radio box to choose database-->
        <h4>
          Database
        </h4>
        <div>
          <div class="radio-box">
            <input type="radio" name="database" value="fars" id="fars" checked>
            <label for = "fars"> FARS </label>
          </div>
          <div>
            <input type="radio" name="database" value="sds" id="sds" disabled>
            <label for = "sds"> SDS</label>
          </div>
        </div>

        <!-- Slider to choose threshold -->
        <h4>
          Threshold
        </h4>
        <div class="slidecontainer">
          <input type="range" min="0" max="3" value="0" step = "1" class="slider" id="myRange">
        </div>
        <div class="slider-value" id = "slidervalue"></div>

        <!-- <h4>
          Equity Weighting
        </h4>
        <label class="switch">
          <input type="checkbox" id = "toggle">
          <span class="toggle round"></span>
        </label> -->
        
        <button class="button" id="rd-btn">Generate HIN map</button>
        <p id="output"></p>

        <h3 class = "stat-header" id = "stat-header"></h3>
        <p class = "stats" id = "stats"></p>

      </div>
    </div>
  </div>
  
  <div id="llmap"></div>

  <base href="/">

  <script type="module" src="{{url_for('static', filename='demo.js')}}"></script>
  <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
</body>
</html>
